*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-around;
    background: black;

}
.logo{
   display: flex;
   width: 500px;
   color: #ffff;
}
.online{
    display: flex;
    margin-top: 50px;
    width: 500px;
    color:#ffff;
}
header img{
    width: 70px;
    margin-top: 10px;
}
header p{
    margin-top: 50px;
    padding:50 px 
}